/* ForgotPassword.css */

.forgot-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

  .forgot-pass-left-section{ 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forgot-pass-right-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  
  .forgot-pass-form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 150px;
  }
  
  .forgot-pass-logo {
    width: 50%; /* Adjust size as needed */
    height: 55%; /* Maintain aspect ratio */
    margin-bottom: 20px;
    margin-left: 150px;
  }
  
  .forgot-pass--error-message,
  .forgot-pass-success-message {
    color: red;
    margin-top: 10px;
  }
  
  .forgot-pass-submit-button {
    width: 100%;
    padding: 10px;
    background-color: #1e8516;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-pass-submit-button:hover {
    background-color: #0056b3;
  }
  
/* Form Links */
  .forgot-pass-form-links {
       margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .forgot-pass-form-links a {
    text-decoration: none;
    color: #004ae9;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
  }
  
  .forgot-pass--form-links a:hover {
    margin: 0 5px;
    font-size: 14px;
    color: #333;
  }